@import url('https://fonts.googleapis.com/css2?family=Allura&family=Pacifico&display=swap');

/* Estilos generales  */
body {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
      
    background-color: #bde0fe;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/imagenes/fleurs\ aestetics.jfif');
    background-size: cover; 
}

/* Estilos para el contenedor principal  */
#app {
    background-color: #ffafcc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*  Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;

}

/* Estilos al input*/
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;

}

/* estilos al botón*/
button{
    padding: 5px 8px;
    background-color: #9626d6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* estilos a la lista*/
ul {
list-style: none;
padding: 0;

}
/* estilos a los elementos de la lista*/
li{
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* estilos para cuanso se complete la tarea */
li.completed {
    text-decoration: line-through;
    color: #888;
}